
.trail-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 9;
}

.trail-img {
  position: absolute;
  width: 12.5rem;
  height: 12.5rem;
  pointer-events: none;
  z-index: 9;
}

.trail-img .mask-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  will-change: clip-path;
  z-index: 9;
}

.trail-img .mask-layer .image-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 9;
}
