.details_form_paren,
.address_form_paren,
.password_form_paren,
.subscription_form_paren {
  width: 100%;
  height: 0;
  overflow: hidden;
}
.inp_paren {
  margin-bottom: 1.5rem;
  position: relative;
  width: 100%;
}
.inp_paren span {
  color: red;
}
.inp_paren input {
  padding-left: 1rem;
  padding-right: 3rem;
  outline: none;
  border: 1px solid #00bc65;
  margin-top: 0.5rem;
  width: 100%;
  height: 3.5rem;
}
.input_error_msg {
  margin-top: 0.5rem;
  color: red;
}
.check_icon {
  pointer-events: none;
  position: absolute;
  right: 0.5rem;
  color: #008748;
  top: 2.6rem;
  z-index: 9;
}
.inp_paren input:focus {
  border: 1px solid rgb(0, 0, 0);
}
.submit_form_btn {
  width: 100%;
  text-transform: uppercase;
  padding: 0.75rem 2rem;
  margin-top: 2rem;
  background-color: #313131;
  display: flex;
  color: white;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}
.cancel_form_btn {
  width: 100%;
  text-transform: uppercase;
  padding: 0.75rem 2rem;
  margin-top: 1rem;
  border: 1px solid #313131;
  display: flex;
  color: #313131;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.subscription_div{
  width: 100%;
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: space-between;
}
.subscription_btn_paren{
  width: 25%;
}

.subscribe_btn {
  width: 100%;
  text-transform: uppercase;
  padding: 0.6rem .5rem;
  background-color: #313131;
  display: flex;
  color: white;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}
.unSubscribe_btn {
  width: 100%;
  text-transform: uppercase;
  padding: 0.6rem .5rem;
  border: 1px solid #313131;
  display: flex;
  color: #313131;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}