/* Wrapper */
.purchases_wrapper {
  width: 100%;
  padding-bottom: 5rem;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .purchases_wrapper {
    padding-top: 8rem;
    flex-direction: row;
  }
}

/* Left side */
.purchases_leftSlide {
  display: none;
}

@media (min-width: 1024px) {
  .purchases_leftSlide {
    display: block;
  }
}

/* Breadcrumb (mobile) */
.purchases_breadcrumb {
  display: flex;
  gap: 0.25rem;
  text-transform: uppercase;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 1024px) {
  .purchases_breadcrumb {
    display: none;
  }
}

.purchases_breadcrumbLink {
  opacity: 0.6;
}

/* Right section */
.purchases_rightSection {
  height: 100%;
  width: 100%;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 1024px) {
  .purchases_rightSection {
    width: 60%;
    padding-top: 0;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

/* Heading */
.purchases_heading {
  text-transform: uppercase;
}

/* Orders list */
.purchases_ordersList {
  padding-bottom: 1.5rem;
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.orderDetails_cartBag{
  padding-top: 1rem;
  width: 35rem;
}
.order_detailsBagItem{
  padding: 1rem 0rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.order_detailsBagItem:last-child{
  border: none;
}
/* Order card */
.purchases_orderCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-transform: uppercase;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* Items grid */
.purchases_itemsGrid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

@media (min-width: 1024px) {
  .purchases_itemsGrid {
    grid-template-columns: 11vw 11vw 11vw 11vw;
    gap: .5rem;
  }
}

.purchases_itemBox {
  aspect-ratio: 3 / 4;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  width: 100%;
  overflow: hidden;
}

.purchases_itemImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer */
.purchases_orderFooter {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.purchases_viewOrder {
  text-decoration: underline;
  cursor: pointer;
}
