.hero_swiper {
  width: 100%;
  height: 100vh;
  height: 100svh;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_swiper__bg_video {
  position: absolute;
  display: none;
  width: 100%;
  height: 100vh;
  inset: 0;
  object-fit: cover;
  transform: scale(1.25);
  filter: brightness(0.75) blur(2rem);
  transition: opacity 0.5s;
  z-index: 1;
}

@media (min-width: 768px) {
  .hero_swiper__bg_video {
    display: block;
    filter: brightness(0.75) blur(3.5rem);
  }
}

.hero_swiper__carousel {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero_swiper__slide {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero_swiper__slide_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  border: none;
  background-color: black;
  overflow: hidden;
}

@media (min-width: 1024px) {
  .hero_swiper__slide_inner {
    width: 70%;
    border-radius: 2rem;
    height: 75vh;
  }
}

.hero_swiper__slide_video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero_swiper__content {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  text-align: center;
}

.hero_swiper__tagline {
  color: white;
  text-transform: uppercase;
}

.hero_swiper__cta {
  margin-top: 0.5rem;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

/* Pagination Bullet Styles */
.swiper_pagination {
  padding-inline: .6rem;
  width: fit-content !important;
  height: 1.5rem !important;
  position: absolute !important;
  bottom: 1.8rem !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  z-index: 50;
  border-radius: 0.5rem;
  border: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.125rem;
}

@media (min-width: 768px) {
  .swiper_pagination {
    bottom: 1.8rem !important;
  }
}

.custom_bullet {
  width: .5rem;
  height: .5rem;
  border-radius: 9999px !important;
  background-color: #00000098 !important;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}

.custom_bullet_active {
  width: 1.5rem !important;
  height: .5rem;
  background-color: #0000001f !important;
}

.progress_fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: #00000062 !important;
  transition: width 5.5s linear;
  z-index: 1;
}
