.sort_dropdown {
  position: relative;
  width: fit-content;
}

.sort_dropdown__button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.375rem 0.5rem 0.375rem 1rem;
  height: 2rem;
  color: black;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.sort_dropdown__icon {
  transition: transform 0.3s ease;
}

.sort_dropdown__icon_open {
  transform: rotate(180deg);
}

.sort_dropdown__menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 50;
  min-width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(1rem);
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 3px 18px rgba(0, 0, 0, 0.05);
}

.sort_dropdown__list {
  color: black;
  white-space: nowrap;
  border-collapse: collapse;
}

.sort_dropdown__item {
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.sort_dropdown__item:hover,
.sort_dropdown__item_active {
  background-color: #ededed; /* Tailwind's gray-100 */
}
