.product_page__container {
  width: 100%;
  min-height: 100vh;
  background-color: #f6f6f6;
}

.product_image_slider {
  width: 100%;
  height: 80vh;
  position: relative;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .product_page__container {
    display: flex;
    min-height: 100vh;
  }
}

.product_page__left {
  display: none;
}

@media (min-width: 1024px) {
  .product_page__left {
    width: 50%;
    height: 100%;
    display: block;
    position: relative;
  }
  .product_image_slider {
    display: none;
  }
}

.product_page__thumbnails {
  position: absolute;
  z-index: 999;
  display: flex;
  gap: 8px;
  padding-bottom: 12px;
  padding-left: 12px;
  bottom: 0;
  left: 0;
}

@media (min-width: 768px) {
  .product_page__thumbnails {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-left: 0;
    padding-bottom: 80px;
    width: 122px;
  }
}

.product_page__thumbnail {
  width: 48px;
  height: 56px;
  overflow: hidden;
  transform-origin: bottom left;
  transition: all 0.3s ease;
}

@media (min-width: 768px) {
  .product_page__thumbnail {
    width: 56px;
    height: 80px;
  }
}

.product_page__thumbnail_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(75%);
}

.product_page__thumbnail--active {
  border: 1px solid white;
  transform: scale(1.25);
}

.product_page__image {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product_page__image--active {
  top: 0;
}

.product_page__right {
  padding: 1rem 0rem;
  width: 100%;
  position: relative;
}

@media (min-width: 768px) {
  .product_page__right {
    padding: 1rem 1rem;
  }
}
@media (min-width: 1024px) {
  .product_page__right {
    padding: 0rem 0rem;
    width: 50%;
  }
}

.product_page__content {
  max-width: 100%;
  padding: 2rem 1rem;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .product_page__content {
  max-width: 75%;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    padding: 0rem 4rem;
  }
}
.category_header{
  width: fit-content;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 1rem;
  cursor: pointer;
}
.order_open_prdct{
  margin-bottom: 0rem !important;
}
.category_header p{
  cursor: pointer;
  transition: all .2s ease;
}
.category_header p:hover{
  opacity: .8;
  /* margin-left: .3rem; */
  scale: .95;
}
.product_page__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.product_page__title {
  width: 70%;
}
.product_page__section:first-child{
  margin-bottom: 1.5rem;
}
.product_page__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5vh;
  gap: 1rem;
}
@media (min-width: 768px) {
  .product_page__section {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    /* flex-direction: column; */
  }
}

.product_page__info {
  margin-top: 4rem;
  display: grid;
  gap: 4rem;
}

.product_page__label {
  width: 10vh;
  height: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.product_page__colors,
.product_page__sizes {
  display: flex;
  gap: 0.75rem;
}

.product_page__color {
  padding: 0.25rem 0.75rem;
  gap: 0.5rem;
  border-radius: 0.25rem;
  text-transform: capitalize;
  display: flex;
  border: 1px solid #313131;
  opacity: 0.4;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.product_page__color--active {
  border-color: #313131;
  opacity: 1;
}

.product_page__color_inner {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.product_page__size {
  border-radius: 0.25rem;
  width: 2rem;
  height: 2rem;
  border: 1px solid #313131;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.product_page__size--active {
  background-color: #313131;
  color: #f6f6f6;
  opacity: 1;
}

.product_page__dot {
  width: 0.25rem;
  height: 0.25rem;
  background-color: #313131;
  border-radius: 50%;
}

.productDetail_addtocart {
  position: relative;
  width: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.productDetail_btn_icon {
  position: relative;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  height: 2.75rem;
  width: 3rem;
  border-radius: 0.25rem;
  border: 2px solid #313131;
}
.icon_pr {
  color: #313131;
  transform: translateY(0.1rem);
  transition: all 0.1s ease;
}
.icon_pr:hover {
  scale: 1.2;
}
.icon_pr:last-child:hover {
  scale: 1.2;
  opacity: 1;
}
.icon_pr:last-child {
  opacity: 0;
  position: absolute;
}
.product_page__extra {
  display: grid;
  gap: 1rem;
}

.product_page__extra_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product_page__expand_btn {
  width: 2rem;
  height: 2rem;
  aspect-ratio: 1/1;
  border-radius: 0.25rem;
  position: relative;
  overflow: hidden;
  background: white;
  backdrop-filter: blur(0.75rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.product_page__expand_hover {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #313131;
  transition: left 0.3s ease;
}

.product_page__expand_btn:hover .product_page__expand_hover {
  left: 0;
}

.product_page__video_section {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product_page__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product_page__video_marquee {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  color: white;
  text-transform: capitalize;
}
.marquee_inner {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.marquee_inner p {
  margin-left: 10rem;
}
