.product_page__container {
  width: 100%;
  min-height: 100vh;
  background-color: #f6f6f6;
}

.product_image_slider {
  width: 100%;
  height: 80vh;
  position: relative;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .product_page__container {
    display: flex;
    min-height: 100vh;
  }
}

.product_page__left {
  display: none;
}

@media (min-width: 1024px) {
  .product_page__left {
    width: 50%;
    height: 100%;
    display: block;
    position: relative;
  }
  .product_image_slider {
    display: none;
  }
}

.product_page__thumbnails {
  position: absolute;
  z-index: 999;
  display: flex;
  gap: 8px;
  padding-bottom: 12px;
  padding-left: 12px;
  bottom: 0;
  left: 0;
}

@media (min-width: 768px) {
  .product_page__thumbnails {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-left: 0;
    padding-bottom: 80px;
    width: 122px;
  }
}

.product_page__thumbnail {
  width: 48px;
  height: 56px;
  overflow: hidden;
  transform-origin: bottom left;
  transition: all 0.3s ease;
}

@media (min-width: 768px) {
  .product_page__thumbnail {
    width: 56px;
    height: 80px;
  }
}

.product_page__thumbnail_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(75%);
}

.product_page__thumbnail--active {
  border: 1px solid white;
  transform: scale(1.25);
}

.product_page__image {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product_page__image--active {
  top: 0;
}

.product_page__right {
  padding: 1rem 0rem;
  width: 100%;
  position: relative;
}

@media (min-width: 768px) {
  .product_page__right {
    padding: 1rem 1rem;
  }
}
@media (min-width: 1024px) {
  .product_page__right {
    padding: 0rem 0rem;
    width: 50%;
  }
}

.product_page__content {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

@media (min-width: 1024px) {
  .product_page__content {
    position: sticky;
    top: 0;
    padding: 8rem 4rem;
  }
}

.product_page__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.product_page__title {
  width: 70%;
}
.product_page__section {
  display: flex;
  align-items: center;
  height: 5vh;
  gap: 1rem;
}
@media (min-width: 768px) {
  .product_page__section {
    display: flex;
    align-items: flex-start;
    height: fit-content;
    flex-direction: column;
  }
}

.product_page__info {
  margin-top: 2.5rem;
  display: grid;
  gap: 2.5rem;
}

.product_page__label {
  width: 10vh;
  height: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.product_page__colors,
.product_page__sizes {
  display: flex;
  gap: .75rem;
}

.product_page__color {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid gray;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.product_page__color--active {
  border-color: black;
  opacity: 1;
}

.product_page__color_inner {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.product_page__size {
  opacity: 0.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.product_page__size--active {
  opacity: 1;
}

.product_page__dot {
  width: .25rem;
  height: .25rem;
  background-color: black;
  border-radius: 50%;
}

.product_page__actions {
  display: flex;
  gap: 1rem;
}

.product_page__btn {
  position: relative;
  flex: 1;
  padding: 0.75rem 0;
  border-radius: 0.25rem;
}

.product_page__btn--light {
  background-color: white;
  color: black;
}

.product_page__btn--dark {
  background-color: #313131;
  color: white;
  border: 1px solid transparent;
}

.product_page__extra {
  display: grid;
  gap: 1rem;
}

.product_page__extra_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product_page__expand_btn {
  width: 2rem;
  height: 2rem;
  aspect-ratio: 1/1;
  border-radius: 0.25rem;
  position: relative;
  overflow: hidden;
  background: white;
  backdrop-filter: blur(.75rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.product_page__expand_hover {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #31313114;
  transition: left 0.3s ease;
}

.product_page__expand_btn:hover .product_page__expand_hover {
  left: 0;
}

.product_page__video_section {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product_page__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product_page__video_marquee {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  color: white;
  text-transform: capitalize;
}
.marquee_inner {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.marquee_inner p {
  margin-left: 10rem;
}
