.checkout_section {
  display: flex;
  padding: 1rem;
  justify-content: center;
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 4rem;
}
.checkout_section_inner {
  width: 100%;
}

@media (min-width: 750px) {
  .checkout_section {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 8.1rem;
    padding-bottom: 4rem;
  }
  .checkout_section_inner {
    width: 95%;
  }
}
@media (min-width: 1020px) {
  .checkout_section {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10rem;
    padding-bottom: 4rem;
  }
  .checkout_section_inner {
    width: 70%;
  }
}

.checkout_Wrapper {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  margin-top: 1.25rem;
  justify-content: center;
  gap: 1.25rem;
}

@media (min-width: 768px) {
  .checkout_Wrapper {
    gap: 2.5rem;
  }
}

@media (min-width: 768px) {
  .checkout_Wrapper {
    flex-direction: row;
    margin-top: 2.5rem;
  }
}

.checkout_leftContainer {
  width: 100%;
  background: #f6f6f6;
  /* border-radius: 8px; */
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.checkout_user_details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 4rem;
}
.checkout_user_details:last-child {
  margin-bottom: 0 !important;
}
.check_box_div {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  border: 1px solid gray;
}
.check_box_div_active {
  cursor: pointer;
  height: 1rem;
  color: white;
  width: 1rem;
  background-color: #6a6a6a;
}
.cards_inner_content {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.checkout_address_form {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.address_div {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.address_box {
  position: relative;
  width: 100%;
  padding: 1rem;
  padding-right: 3rem !important;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.address_box_check_box_div {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.checkout_inp_flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.checkout_thin_line {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* Base select */
.checkOut_input {
  flex-shrink: 0;
  background-color: #fff ;
  font-size: 1rem;
  width: 100%;
  padding-left: 0.5rem;
  height: 3rem;
  padding-right: 3rem;
  border: 1px solid #00000050;
  outline: none;
  color: #000; /* normal text */
  transition: all 0.1s ease;
}
.checkOut_input:hover {
  padding-left: 1rem;
  border: 2px solid #6a6a6a;
}
@media (min-height: 1020px) {
  .checkOut_input {
    padding-left: 1rem;
  }
}

.delivery__input__phone {
  height: 3rem !important;
  font-family: suisse !important;
  position: relative;
  /* padding: 1rem !important; */
  border: 1px solid #dedede !important;
  /* border: none !important; */
  font-size: 0.9rem !important;
  width: 100% !important;
}
.react-international-phone-input-container
  .react-international-phone-input.delivery__input__phone {
  border: 1px solid #dedede !important;
  border: none !important;
}
.delivery__phone_btn .react-international-phone-country-selector-button {
  /* border: 1px solid #dedede !important; */
  scale: 0.8;
  border: none !important;
  height: 90%;
}
/* 50% opacity placeholder */
.placeholderOption {
  color: #00000060;
}

/* Fix: when placeholder is selected, show light color */
.checkOut_input:invalid {
  color: #00000060;
}

.checkOut_input::placeholder {
  color: #00000060;
}

.checkOut_input:focus {
  border: 1px solid rgb(0, 0, 0);
}

.checkout_user_detailsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media (min-width: 768px) {
  .checkout_leftContainer {
    padding-left: 2rem;
    padding-right: 2rem;
    /* box-shadow: 0px 0px 0.25rem 0.25rem #70707021; */
  border: 1px solid rgba(0, 0, 0, 0.1);

  }
}

@media (min-width: 768px) {
  .checkout_leftContainer {
    width: 60%;
  }
}

.checkout_item {
  width: 100%;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem 0rem;
}
.checkout_item:last-child {
  border: none !important;
  margin-bottom: 1rem;
}

.checkout_imgWrapper {
  width: 30%;
}

@media (min-width: 768px) {
  .checkout_imgWrapper {
    width: 20%;
  }
}

.checkout_productImg {
  aspect-ratio: 3/4;
  object-fit: cover;
  width: 100%;
}

.checkout_details {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1rem;
}

.checkout_topRow {
  display: flex;
  justify-content: space-between;
}
.checkout_productName {
  margin-bottom: 0.5rem;
}
.checkout_metaText {
  opacity: 0.8;
}

.checkout_bottomRow {
  display: flex;
  justify-content: space-between;
}

.checkout_quantityBox {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  width: 80px;
  justify-content: space-evenly;
  padding: 0.25rem 0;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  user-select: none;
}

.checkout_deleteBtn {
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
}

.checkout_deleteBtn:hover {
  opacity: 1;
}

.checkout_summaryContainer {
  width: 100%;
}

@media (min-width: 768px) {
  .checkout_summaryContainer {
    width: 40%;
  }
}

.checkout_summaryWrapper {
  position: relative;
  width: 100%;
  background: #f6f6f6;
  /* border-radius: 0.5rem; */
  /* padding: 1rem; */
}

@media (min-width: 768px) {
  .checkout_summaryWrapper {
    padding: 2rem;
  }
}

@media (min-width: 768px) {
  .checkout_summaryWrapper {
    /* box-shadow: 0px 0px 0.25rem 0.25rem #70707021; */
  border: 1px solid rgba(0, 0, 0, 0.1);

    position: sticky;
    top: 13rem;
  }
}

.coupon_div {
  display: flex;
  gap: 0.5rem;
}
.checkout_couponInput {
  flex-shrink: 0;
  font-size: 1rem;
  width: 70%;
  padding-left: 0.5rem;
  height: 2.75rem;
  margin-bottom: 2rem;
  border-radius: .25rem;
  padding-right: 3rem;
  border: 1px solid #00000050;
  outline: none;
  color: #000; /* normal text */
  transition: all 0.1s ease;
}
.checkout_couponInput:hover {
  padding-left: 1rem;
  border: 2px solid #6a6a6a;
}
@media (min-height: 1020px) {
  .checkout_couponInput {
    padding-left: 1rem;
  }
}
.checkout_couponBtn {
  width: 30%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.checkout_couponBtn:hover {
  opacity: 0.85;
}
.subtotal_div{
  margin-bottom: .5rem;
}
.checkout_row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.checkout_borderRow {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 1.25rem;
  margin-bottom: 1.25rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.checkout_paymentImg {
  width: 40%;
}

@media (min-width: 768px) {
  .checkout_paymentImg {
    width: 20%;
  }
}

@media (min-width: 768px) {
  .checkout_paymentImg {
    width: 40%;
  }
}

.checkout_paymentNote {
  opacity: 0.6;
  margin-top: 0.5rem;
}

.checkout_btn {
  width: 100%;
  margin-top: 1rem;
}

.status_section {
  height: 100vh;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.status_section img {
  width: 6rem;
}
.status_section p {
  width: 90%;
  text-align: center;
}
@media (min-width: 750px) {
  .status_section p {
    width: 30%;
    text-align: center;
  }
}

.status_section a:hover {
  text-decoration: underline;
}
