.checkout_section {
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 1024px) {
  .checkout_section {
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.checkout_Wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
  gap: 1.25rem;
}

@media (min-width: 768px) {
  .checkout_Wrapper {
    gap: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .checkout_Wrapper {
    flex-direction: row;
    margin-top: 2.5rem;
  }
}

.checkout_leftContainer {
  width: 100%;
  background: #fff;
  border-radius: 8px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.checkout_user_details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}
.checkout_thin_line {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.checkout_user_detailsHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (min-width: 768px) {
  .checkout_leftContainer {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 1024px) {
  .checkout_leftContainer {
    width: 70%;
  }
}

.checkout_item {
  width: 100%;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

@media (min-width: 768px) {
  .checkout_item {
    padding-top: 2rem;
    padding-bottom: 1.25rem;
  }
}

.checkout_imgWrapper {
  width: 30%;
}

@media (min-width: 768px) {
  .checkout_imgWrapper {
    width: 15%;
  }
}

.checkout_productImg {
  aspect-ratio: 4 / 5;
  border-radius: 4px;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.checkout_details {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1.25rem;
}

@media (min-width: 768px) {
  .checkout_details {
    padding-left: 2.5rem;
  }
}

.checkout_topRow {
  display: flex;
  justify-content: space-between;
}

.checkout_metaText {
  color: #6b7280;
}

.checkout_bottomRow {
  display: flex;
  justify-content: space-between;
}

.checkout_quantityBox {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  width: 80px;
  justify-content: space-evenly;
  padding: 0.25rem 0;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  user-select: none;
}

.checkout_deleteBtn {
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
}

.checkout_deleteBtn:hover {
  opacity: 1;
}

.checkout_summaryContainer {
  width: 100%;
}

@media (min-width: 1024px) {
  .checkout_summaryContainer {
    width: 30%;
  }
}

.checkout_summaryWrapper {
  position: relative;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  padding: 0.75rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .checkout_summaryWrapper {
    padding: 2rem;
  }
}

@media (min-width: 1024px) {
  .checkout_summaryWrapper {
    position: sticky;
    top: 180px;
  }
}

.checkout_row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.checkout_borderRow {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 1.25rem;
  margin-bottom: 1.25rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.checkout_textSm {
  opacity: 0.6;
}

.checkout_paymentImg {
  width: 40%;
}

@media (min-width: 768px) {
  .checkout_paymentImg {
    width: 20%;
  }
}

@media (min-width: 1024px) {
  .checkout_paymentImg {
    width: 40%;
  }
}

.checkout_paymentNote {
  opacity: 0.6;
  margin-top: 0.5rem;
}

.checkout_btn {
  width: 100%;
  height: 2.5rem;
  border-radius: 4px;
  background: #313131;
  margin-top: 2.5rem;
  color: #fff;
}



.status_section{
  height: 100vh;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.status_section img{
  width: 6rem;
}
.status_section p{
  width: 30%;
  text-align: center;
}

.status_section a:hover{
  text-decoration: underline;
}
