.login-cont {
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  height: 100vh;
  margin: auto auto;
  display: flex;
}
.goback {
  position: absolute;
  right: 20px;
  top: 25px;
  z-index: 10;
  cursor: pointer;
}
.goback:hover {
}
.react-international-phone-input-container .react-international-phone-input {
  border: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
}
.react-international-phone-input-container
  .react-international-phone-input:focus {
  border-bottom: 3px solid rgba(0, 0, 0, 0.3) !important;
}
.react-international-phone-input-container
  .react-international-phone-input:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
}
.react-international-phone-country-selector-button {
  border: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
}
.react-international-phone-country-selector-button:hover {
  border: none !important;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3) !important;
}
.react-international-phone-country-selector-button:hover {
  border: none !important;
  border-bottom: 3px solid rgba(0, 0, 0, 0.3) !important;
}

.login-left-cont {
  width: 60%;
  transition: all 0.5s ease;
  height: 200%;
  transform: translateX(-50%);
}
.login-form {
  margin-bottom: 10px;
}
.login-form #common_black_btn {
  max-width: 100%;
  margin-top: 30px;
}
.login-right-cont {
  width: 40%;
  transition: all 0.5s ease;

  height: 200%;
}

.left-one {
  width: 100%;
  height: 50%;
  position: relative;
}

.left-one img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: top;
}

.left-two {
  height: 50%;
  width: 100%;
}

.login-inner {
  flex-direction: column;
  width: 65%;
  margin: auto;
  display: flex;
  justify-content: center;
  height: 100%;
}

.login-t {
  text-align: center;
  margin-bottom: 20px;
}

.login-inp {
  width: 100%;
  height: 40px;
  margin: 10px 0px;
  border: none;
  background: none;
  padding: 0 5px;
  outline: none;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.login-inp:hover,
.half-inp:hover,
.react-tel-input .form-control:hover {
  border-bottom: 1px solid black !important;
}

.login-inp:focus,
.half-inp:focus,
.react-tel-input .form-control:focus {
  border-bottom: 2px solid black !important;
}

.pass-cont {
  position: relative;
}

.eye-cont {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}

.eye-cont svg {
  cursor: pointer;
}

.eye-cont svg:hover {
  color: rgba(0, 0, 0, 0.594);
}

.login-btn {
  margin-top: 20px;
  height: 40px;
  width: 100%;
  background-color: #313131;
  color: white;
  text-transform: uppercase;
  border-radius: 0.25rem;
  border: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}
@media (min-width: 1024px) {
  .login-btn p {
    transform: translateY(1px);
  }
}

.login-btn:hover {
  background: rgba(0, 0, 0, 0.7);
  color: white;
}

.login-btn:hover .login-load {
  border: 3px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  border-top: 3px solid black;
}

.not-up {
  text-align: center;
  margin: 10px 0px;
}

.not-up span {
  color: black;
  cursor: pointer;
  position: relative;
}

.not-up span::after {
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: all 0.3s ease;
  width: 100%;
  height: 2px;
  background-color: black;
  content: "";
  transform: scaleX(0);
  transform-origin: left;
}
.signup-inp {
  border: none;
}

.not-up span:hover::after {
  transform: scaleX(1);
}

.gender-option {
  align-items: center;
  display: flex;
  margin-top: 10px;
  margin-bottom: 02px;
}

.gender-cont {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0px 5px;
  position: relative;
}

.gender-inner-cont img {
  object-fit: contain;
}

.name-cont {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0px;
}

.half-inp-cont {
  width: 46% !important;
}

.half-inp {
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
  margin: 10px 0px;
  padding: 0 5px;
  background-color: transparent;
}
.react-international-phone-input-container .react-international-phone-input {
  background-color: transparent !important;
}
.react-international-phone-input-container
  .react-international-phone-country-selector-button {
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
}

.login-left-cont .login-inp {
  margin: 10px 0 !important;
}

.gender-name {
  padding-left: 5px;
}

.phone-div {
  margin: 10px 0px;
}

.gender-t {
  margin-left: 5px;
}

.react-tel-input .form-control {
  border: none !important;
}

.signup-btn {
  margin-top: 20px !important;
}

.inp-rel {
  width: 100%;
  position: relative;
}
.error-p {
  position: absolute;
  left: 0px;
  bottom: -8px;
  color: red;
}
.phone-error {
  bottom: -19px;
}
.gender-err {
  bottom: -18px;
}
.inp-cont {
  width: 100%;
  height: 40px;
  border-bottom: rgba(0, 0, 0, 0.3);
  display: flex;
}

.inp-cont input:hover {
  border-bottom: 1px solid black;
}

.inp-cont:focus {
  border-bottom: 2px solid black;
}

.login-svg-cont {
  width: 40px;
  background: none;
  height: 40px;
}

.login-input {
  width: calc(100% - 40px);
  height: 40px;
  border: none;
  outline: none;
}

.react-tel-input .form-control {
  position: relative;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 48px !important;
  margin-left: 0;
  border: none !important;
  background: #f4e9ea !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: 0 !important;
  line-height: 1.2 !important;
  height: auto !important;
  width: 100% !important;
  outline: none;
}

.react-tel-input .flag-dropdown {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  background-color: transparent !important;
  border: 1px solid #cacaca;
  border-radius: 0 !important;
}

.react-tel-input .selected-flag {
  outline: none;
  position: relative;
  width: 38px;
  height: 100%;
  padding: 0 0 0 8px;
  border-radius: 0 !important;
  background-color: transparent !important;
}
.react-tel-input .selected-flag .flag {
  position: absolute;
  top: 50%;
  margin-top: -5px;
}

.react-tel-input .selected-flag .arrow {
  position: relative;
  top: 50%;
  margin-top: -2px;
  left: 20px;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 4px solid #555;
}
.react-tel-input {
  position: relative;
  width: 100%;
}
.react-tel-input .special-label {
  display: none;
  white-space: nowrap;
}
.react-tel-input .invalid-number-message,
.react-tel-input .special-label {
  position: absolute;
  z-index: 1;
  left: 46px;
  top: -8px;
  background: #fff;
  padding: 0 2px;
}
.react-tel-input .flag-dropdown.open,
.react-tel-input .flag-dropdown.open .selected-flag {
  background: #fff;
  border-radius: 3px 0 0 0;
}
.react-tel-input .flag-dropdown.open {
  z-index: 2;
}

@media (max-width: 576px) {
  .login-left-cont {
    display: none;
  }
  .login-right-cont {
    width: 100%;
  }
  .login-inner {
    width: 85%;
  }
}

/* Tablets (portrait) */
@media (min-width: 576px) and (max-width: 768px) {
  .login-left-cont {
    display: none;
  }
  .login-right-cont {
    width: 100%;
  }
  .login-inner {
    width: 65%;
  }
}

/* Tablets (landscape) / Small laptops */
@media (min-width: 768px) and (max-width: 992px) {
  .login-left-cont {
    width: 45%;
  }
  .login-right-cont {
    width: 55%;
  }
  .login-inner {
    width: 75%;
  }
}

/* Desktops */
@media (min-width: 992px) and (max-width: 1200px) {
  .login-left-cont {
    width: 50%;
  }
  .login-right-cont {
    width: 50%;
  }
}
