@font-face {
  font-family: suisse-medium;
  src: url(../../public/fonts/suisse-intl-medium.woff2);
}
@font-face {
  font-family: suisse;
  src: url(../../public/fonts/suisse-intl-regular.woff2);
}
html,
body {
  width: 100%;
  /* font-size: 3vw; */
  font-size: 13px;
  background-color: #f6f6f6;
}
@media (min-width: 750px) {
  html,
  body {
    font-size: 1.8vw;
  }
}
@media (min-width: 1020px) {
  html,
  body {
    font-size: 1vw;
  }
}
a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}
p,
a,
span,
input,
li,
button {
  font-family: suisse;
  cursor: pointer;
}
h3 {
  font-family: suisse-medium;
  font-weight: 100;
}
h2 {
  font-family: suisse-medium;
}

.text-xxs {
  font-size: 0.625rem; /* 10px */
  line-height: 0.875rem; /* ~14px, optional for balance */
}

.text-xs {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}

.text-sm {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.text-base {
  font-size: 1rem; /* 16px */
  line-height: 1.25rem; /* 20px */
}

.text-lg {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}

.text-xl {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

.text-2xl {
  font-size: 1.5rem; /* 24px */
  line-height: 1.5rem; /* 32px */
}

.text-3xl {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}

.text-4xl {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
}

.text-5xl {
  font-size: 3rem; /* 48px */
  line-height: 2.75rem; /* 1x font size */
}

.text-6xl {
  font-size: 3.75rem; /* 60px */
  line-height: 1;
}

.text-7xl {
  font-size: 4.5rem; /* 72px */
  line-height: 1;
}

.text-8xl {
  font-size: 6rem; /* 96px */
  line-height: 1;
}

.text-9xl {
  font-size: 8rem; /* 128px */
  line-height: 1;
}