.header_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(0.3rem);
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  z-index: 96;
}
.desktop_open_cart_paren{
  display: none;
}
.header_logo {
  display: none;
  padding: 1rem 2rem;
  z-index: 99;
  transform: translateX(-50%);
  position: fixed;
  left: 50%;
}
.desktop_header_paren {
  display: none;
  position: fixed;
  z-index: 98;
  left: 0;
  top: 0;
  width: 100%;
  padding: 1rem 2rem;
}
@media (min-width: 1020px) {
  .header_logo,
  .desktop_header_paren,
  .desktop_open_cart_paren {
    display: block;
  }
}

.desktop_header_paren_inner {
  position: relative;
  z-index: 99;
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
}
.desktop_header_paren_inner_active {
  background-color: #f6f6f6ea;
}

.desktop_header_menu {
  position: relative;
  z-index: 99;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0rem 0.1rem;
  border-radius: 0.5rem;
  height: 1.75rem;
}
.desktop_header_menu_link {
  padding: 0.1rem 0.5rem;
  border-radius: 0.5rem;
}

.desktop_header_menu_link_active {
  background-color: white;
}
.desktop_header_left {
  width: 50%;
  white-space: nowrap;
  position: relative;
  z-index: 99;
  display: flex;
  gap: 0.25rem;
}
.desktop_header_right {
  width: 100%;
  position: relative;
  z-index: 99;
  display: flex;
  justify-content: flex-end;
  gap: 0.25rem;
}

.desktop_header_search_btn {
  /* transform-origin: left; */
  /* transition: width 0.3s ease-in-out; */
  cursor: pointer;
  justify-content: space-between !important;
  width: 10vw;
}
.desktop_header_search_btn_active {
  width: 20vw !important;
}
.desktop_header_nav_btn {
  display: flex;
  justify-content: flex-end;
  width: fit-content;
  overflow: hidden;
  gap: 0.25rem;
}
.desktop_header_left_btn {
  display: flex;
  position: relative;
  z-index: 99;
  height: 1.75rem;
  border-radius: 0.5rem;
  cursor: pointer;
  gap: 0.25rem;
  padding: 0rem 0.5rem;
  align-items: center;
  justify-content: center;
}
