.mobile_overlay {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100vh;
  /* backdrop-filter: blur(4px); */
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}
/* Mobile Header Container */
.mobileHeader_container {
  display: block;
  z-index: 999;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  width: 100%;
  position: fixed;
  top: 0.5rem;
}

@media (min-width: 1024px) {
  .mobileHeader_container {
    display: none;
  }
}

/* Relative Wrapper */
.mobileHeader_relativeWrapper {
  position: relative;
  width: 100%;
}

/* Header Bar */
.mobileHeader_headerBar {
  position: absolute;
  top: 0.5rem;
  left: 0;
  z-index: 99;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Menu Button */
.mobileHeader_menuButton {
  margin-right: 2.5rem;
  display: flex;
  text-transform: capitalize;
  width: fit-content;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  padding: 0.375rem;
}

/* Logo */
.mobileHeader_logo {
  transform: translateY(1px);
  text-transform: uppercase;
  color: black;
}

/* Right Side Buttons */
.mobileHeader_rightButtons {
  display: flex;
  gap: 0.5rem;
}

/* Icon Button */
.mobileHeader_iconButton {
  display: flex;
  text-transform: capitalize;
  width: fit-content;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  padding: 0.375rem;
}
