.navCategoryDrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(0.75rem);
  border-radius: 0.5rem;
  overflow: hidden;
  height: 0;
  z-index: 97;
}

.nav_category_dummy_div {
  width: 100%;
  height: 1.75rem;
  background-color: rgba(255, 255, 255, 0.285);
}

.navCategoryDrop__content {
  height: 100%;
  padding-left: 1.25rem; /* ~pl-5 */
  width: 100%;
}

.navCategoryDrop__animated {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.navCategoryDrop__columns {
  width: 80%;
  padding-top: 2.5rem;
  display: flex;
  gap: 6vw;
  height: 100%;
}

.navCategoryDrop__column:first-child{
  width: 25%;
}
.navCategoryDrop__column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.navCategoryDrop__section_title {
  padding: 0.1rem 0.5rem;
  width: fit-content;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.navCategoryDrop__section_title {
  opacity: 0.75;
}

.navCategoryDrop__link_list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.navCategoryDrop__link_list_small {
  gap: 0.5rem;
}

.navCategoryDrop__link_item {
  color: #1f2937; /* text-black-800 */
  display: flex;
  align-items: center;
  width: fit-content;
  height: auto;
}
.navCategoryDrop__link_item:hover{
  text-decoration: underline;
}

.navCategoryDrop__image_wrapper {
  aspect-ratio: 3/4;
  height: 100%;
}

.navCategoryDrop__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-right-radius: 0.5rem;
}
