.opensearch_expand_search {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(0.75rem);
  border-radius: 0.5rem;
  overflow: hidden;
  height: 0vw;
  z-index: 100;
}

.opensearch_nav_sub {
  position: relative;
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  /* height: 2.75rem; */
  height: 1.75rem;
  /* background-color: #f6f6f6; */
  border-radius: 0.5rem;
  width: 100%;
}

.opensearch_nav_sub_btn {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.opensearch_nav_sub_btn_search_icon,
.opensearch_nav_sub_input {
  transform: translateY(0.1rem);
  display: none;
}
.opensearch_nav_sub_btn_search_icon_b {
  margin-right: 0.5rem;
  transform: translateY(0.1rem);
}

.opensearch_nav_sub_input {
  height: 100%;
  transform: translateY(-0.1rem);
  width: 100%;
  position: relative;
  transition: all 0.3s ease;
}

.opensearch_nav_sub_input input {
  height: 100%;
  width: 100%;
  padding: 0rem 0.5rem;
  transform: translateY(0.1rem);
  background: transparent;
  border: none;
  outline: none;
}
.opensearch_nav_sub_input input::placeholder {
  opacity: 0.7;
}

.opensearch_nav_clear {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.637);
  position: absolute;
  top: 50%;
  right: 3rem;
  transform: translateY(-50%);
}
.opensearch_nav_clear:hover {
  text-decoration: underline;
}

.opensearch_nav_close {
  background-color: #ffffff;
  height: 1.25rem;
  padding-top: 0.1rem;
  width: 1.25rem;
  flex-shrink: 0;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
}

.opensearch_search_content {
  display: flex;
  padding: 3rem 1rem;
  /* background: #ffffffcc; */
  /* backdrop-filter: blur(0.75rem); */
  border-radius: 0.5rem;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.opensearch_quick_search {
  width: 45%;
}

.opensearch_trending {
  width: 55%;
}

.opensearch_quick_search h3 {
  margin-bottom: 0.5rem;
}

.opensearch_tags {
  margin-top: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.opensearch_tags button {
  padding: 0.4rem 0.75rem;
  background: #f6f6f6;
  border-radius: 0.25rem;
  cursor: pointer;
  border: 1px solid transparent;
  transition: border 0.3s ease;
}

.opensearch_tags button:hover {
  border-color: #ccc;
}

.opensearch_scroll_products {
  display: flex;
  border-radius: 0.5rem;
  overflow-x: auto;
  gap: 0.5rem;
  scrollbar-width: none;
}

.opensearch_scroll_products::-webkit-scrollbar {
  display: none;
}

.opensearch_product_card {
  width: 9rem;
  flex-shrink: 0;
}

.opensearch_product_img {
  aspect-ratio: 3/4;
  width: 100%;
  overflow: hidden;
  margin-bottom: 0.25rem;
  border-radius: 0.5rem;
}

.opensearch_product_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.opensearch_product_name {
  width: 90%;
}

.opensearch_product_price {
  margin-top: 0.125rem;
  opacity: 0.5;
}

.mobile_input_paren{
  display: none;
}
@media (max-width: 750px) {
  .mobile_input_paren{
    display: block;
  }
  .opensearch_expand_search {
    margin-top: 0.5rem;
  }
  .opensearch_search_content {
    padding: 1rem 1rem;
    flex-direction: column;
    gap: 4rem;
  }
  .mobile_inp_classname_searchHeader {
    width: 100%;
    height:3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    background-color: #f3f3f4;
    border-radius: 0.75rem;
  }

  .mobile_inp_classname_searchLeft {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .mobile_inp_classname_searchInput {
    font-size: 0.875rem;
    outline: none;
    border: none;
    background-color: transparent;
  }

  .mobile_inp_classname_clearText {
    opacity: 0.7;
    margin-right: 0.75rem;
  }

  .mobile_inp_classname_menuHeaderClose {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .mobile_inp_classname_closeIcon {
    background-color: #f6f6f6;
    padding: 0.25rem;
    border-radius: 9999px;
    cursor: pointer;
  }
  .opensearch_quick_search,
  .opensearch_trending {
    width: 100%;
  }
  .opensearch_tags {
    margin-top: 0;
    padding-right: 0rem;
  }
  .mobile_input_div {
    width: 100%;
    height: 3rem;
  }
}
