/* Product Card Container */
.productCard_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
/* Image Wrapper */
.productCard_imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 3 / 4;
  border-radius: 0.5rem;
  overflow: hidden;
  flex-shrink: 0;
}

.productCard_image {
  width: 100%;
  height: 100%;
  filter: brightness(0.9);
  object-fit: cover;
}

/*QUICK ADD */
.productCard_quickAdd {
  position: absolute;
  bottom: -3.5rem;
  width: 100%;
  z-index: 9;
  padding: 0.5rem;
  text-align: center;
  color: white;
  transition: bottom 0.5s;
}

.productCard_imageWrapper:hover .productCard_quickAdd {
  bottom: 0;
}

.productCard_quickAddInner {
  width: 100%;
  height: 2.5rem;
  backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .productCard_quickAdd {
    padding: 0.75rem;
  }
}

.productCard_quickAddInner--small {
  height: 1.5rem;
}

/* TAG LIST */
.productCard_tagList {
  position: absolute;
  top: 0.75rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  z-index: 9;
  gap: 0.25rem;
  padding: 0 0.75rem;
  transition: top 0.5s;
}

.productCard_imageWrapper:hover .productCard_tagList {
  top: 1.5rem;
}

@media (min-width: 768px) {
  .productCard_tagList {
    gap: 0.5rem;
    padding: 0 0.75rem;
  }
}

.productCard_tagList--small {
  top: 0.375rem;
  padding: 0 0.375rem;
  gap: 0.25rem;
}

.productCard_tagsInner {
  display: flex;
  gap: 0.5rem;
}

/* BOOKMARK */
.productCard_bookmark {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  color: white;
  border-radius: 0.25rem;
  padding: 0rem 0.25rem;
  position: relative;
}

.productCard_bookmarkFill {
  display: none;
  position: absolute;
}

.productCard_bookmark:hover .productCard_bookmarkFill {
  display: block;
}

/* TAG */
.productCard_tag {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border: 1px solid #ffffff14;
  backdrop-filter: blur(6px);
  border-radius: 0.25rem;
  padding: 0.1rem 0.5rem;
  text-transform: capitalize;
}

@media (min-width: 768px) {
  .productCard_tag {
    padding: 0.25rem 0.75rem;
  }
}

/* PROGRESS BARS */
.productCard_progressWrapper {
  position: absolute;
  top: -0.5rem;
  width: 100%;
  z-index: 9;
  display: flex;
  gap: 0.5rem;
  padding: 0 0.75rem;
  transition: top 0.5s;
}

.productCard_imageWrapper:hover .productCard_progressWrapper {
  top: 0.5rem;
}

.productCard_progressWrapper--small {
  padding: 0 0.375rem;
  gap: 0.25rem;
}

.productCard_progressBar {
  flex: 1;
  background: rgba(255, 255, 255, 0.3);
  height: 0.25rem;
  border-radius: 9999px;
  overflow: hidden;
}

.productCard_progressFill {
  height: 100%;
  background: white;
  width: 0;
  transition: width 3s linear;
}

.productCard_progressFill.filled {
  width: 100%;
}

/* IMAGE */
.productCard_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Details Section */
.productCard_details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Product Name */
.productCard_nameContainer {
  width: 60%;
}

/* Price Section */
.productCard_priceContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.productCard_priceOld {
  opacity: 0.8;
  text-decoration: line-through;
  color: #555;
}

@media (min-width: 750px) {
  .productCard_nameContainer_grid2 {
    width: 60%;
  }
  .productCard_details_grid2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.productCard_priceContainer_grid2 {
  display: flex;
  align-items: center;
  margin-top: 0.25rem;
  gap: 0.5rem;
}
