
.black_button {
  height: 2.75rem;
  width: 100%;
  background-color: #313131;
  color: white;
  text-transform: uppercase;
  border-radius: 0.25rem;
  border: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.black_button:hover {
  opacity: 0.85;
}

@media (min-width: 1024px) {
  .black_button p {
    transform: translateY(1.5px);
  }
}