/* Bag */
.cartBag_openBagParent {
  opacity: 0;
  height: 40rem;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(0.75rem);
  top: 4rem;
  position: fixed;
  overflow: hidden;
  width: 31rem;
  z-index: 999;
  right: -38rem;
  border-radius: 0.5rem;
}
.cartBag_bagHeader {
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background-color: #f6f6f6;
  border-radius: 0.75rem;
}

.cartBag_bagHeaderLeft {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.cartBag_menuHeaderClose{
  cursor: pointer;
}
.cartBag_bagCount,
.cartBag_menuHeaderClose {
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
}

.cartBag_bagScroll {
  width: 100%;
  overflow-y: scroll;
  height: 28vw;
  padding-bottom: 4rem;
}
.cartBag_bagScroll::-webkit-scrollbar-thumb {
  background-color: #313131;
  border-radius: 100px;
}
.cartBag_bagScroll::-webkit-scrollbar {
  width: 0.2rem;
  background-color: transparent;
}

.cartBag_bagItem {
  flex-shrink: 0;
  width: 100%;
  height: fit-content;
  border-bottom: 1px solid #aaaaaa;
  padding: 1rem 1.5rem;
}

.cartBag_bagItemInner {
  width: 100%;
  gap: 1rem;
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.cartBag_bagImageWrapper {
  overflow: hidden;
  width: 18%;
  aspect-ratio: 3/4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cartBag_bagImage{
  transition: scale 0.3s ease;
}
.cartBag_bagImage:hover{
  scale: 1.05;
}
.cartBag_bagImageWrapper img {
  object-fit: cover;
}

@media (min-width: 750px) {
  .cartBag_bagImageWrapper {
    width: 20%;
  }
}

.cartBag_bagImage {
  width: 100%;
  height: 100%;
}

.cartBag_bagItemDetails {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cartBag_bagItemTop {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.cartBag_itemName {
  text-transform: uppercase;
}

.cartBag_itemSize {
  opacity: 0.8;
}

.cartBag_bagItemBottom {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.cartBag_qtyControl {
  overflow: hidden;
  display: flex;
  align-items: center;
  border: 1px solid #0000006b;
  border-radius: 0.25rem;
  height: 1.75rem;
  gap: 0.5rem;
}
.cartBag_qtyControl p{
  position: relative;
  z-index: 99;
}
.cartBag_qtyControl_dec,
.cartBag_qtyControl_inc {
  position: relative;
  cursor: pointer;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.cartBag_qtyControl_dec::after {
  content: "";
  position: absolute;
  background-color: #b8b8b8;
  top: 0;
  width: 0%;
  left: 0;
  height: 100%;
  transition: width 0.3s ease; /* ANIMATION NEEDED */
}
.cartBag_qtyControl_inc::after {
  content: "";
  position: absolute;
  background-color: #b8b8b8;
  top: 0;
  width: 0%;
  right: 0;
  height: 100%;
  transition: width 0.3s ease; /* ANIMATION NEEDED */
}
.cartBag_qtyControl_dec:hover , .cartBag_qtyControl_inc:hover {
  color: white;
}
.cartBag_qtyControl_dec:hover::after, .cartBag_qtyControl_inc:hover:after {
  width: 100%;
}

.cartBag_removeButton {
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0.7;
}
.cartBag_removeButton:hover {
  opacity: 1;
  scale: 1.1;
  color: #6A6A6A;
}

.cartBag_bagFooter {
  position: absolute;
  z-index: 99;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #f6f6f6;
  padding: 1rem;
}

.cartBag_totalRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.cartBag_checkoutButton {
  width: 100%;
  color: #f6f6f6 !important;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3a3a3a;
}
.cartBag_checkoutButton p {
  color: #f6f6f6 !important;
}

.cartBag_continueShopping {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartBag_continueText {
  opacity: 0.7;
}

/* mobile code */
@media (max-width: 750px) {
  .cartBag_openBagParent {
    width: calc(100vw - 1.5rem);
    left: 0.75rem;
    height: 0;
    /* height: 45rem; */
    top: 1rem;
  }
  .cartBag_bagHeader {
    height: 3rem;
  }
  .cartBag_bagItem {
    padding: 1rem;
  }
  .cartBag_bagItemInner {
    gap: 1rem;
  }
  .cartBag_bagTitle {
    font-size: 1.125rem !important;
  }
  .cartBag_bagScroll {
    height: 25rem;
    padding-bottom: 5rem;
  }
}
