.nav_notification {
  position: fixed;
  right: 10px;
  bottom: 1.8rem;
  height: fit-content;
  z-index: 96;
  width: fit-content;
}
@media (min-width: 1024px) {
  .nav_notification {
    left: 2rem;
    top: 4rem;
  }
}

.nav_notification__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end !important;
  gap: 0.5rem;
}
@media (min-width: 1024px) {
  .nav_notification__container {
    align-items: start !important;
  }
}

.nav_notification__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  width: fit-content;
  position: relative;
  transition: all 0.2s linear;
}

.nav_notification__dot {
  width: 0.5rem;
  background-color: #f6f6f6;
  height: 0.5rem;
  border-radius: 9999px;
}

.nav_notification__text {
  display: flex;
  flex-direction: column;
  color: black;
}

.nav_notification__title {
  color: rgba(0, 0, 0, 0.4);
}

.nav_notification__message {
  color: rgba(0, 0, 0, 0.65);
}

.nav_notification__close {
  position: absolute;
  cursor: pointer;
  border: transparent;
  right: 0;
  top: 0;
  width: 1rem;
  background-color: #f6f6f6;
  height: 1rem;
  border-radius: 50%;
  transform: translate(33%, -33%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  opacity: 1;
  transition: opacity 0.2s linear;
}
@media (min-width: 1024px) {
  .nav_notification__close {
    opacity: 0;
  }
}

.nav_notification__item:hover .nav_notification__close {
  opacity: 1;
}

.nav_notification__restore {
  display: flex;
  border: transparent;
  align-items: center;
  gap: 0.375rem;
  cursor: pointer;
  border-radius: 0.5rem;
  height: 1.5rem;
  padding-left: 0.2rem;
  padding-right: 0.5rem;
  width: fit-content;
  color: #222222;
}

.nav_notification__restoreSingle {
  background-color: transparent;
  border-radius: 999px;
}
.nav_notification__circle_a {
  display: inline-flex;
  padding: 0.6rem;
  background-color: #f6f6f6;
  align-items: center;
  justify-content: center;
  height: 1rem;
  width: 1rem;
  cursor: pointer;
  border-radius: 9999px;
}
.nav_notification__circle {
  display: inline-flex;
  background-color: #f6f6f6;
  align-items: center;
  justify-content: center;
  height: 1rem;
  width: 1rem;
  cursor: pointer;
  border-radius: 9999px;
}
